

<!-- <div class="ui container"> -->
        <div id="footer" class="ui segment">
            <p>
                <a href="https://www.facebook.com/airbladepro/" target="_blank"><i class="facebook icon"></i></a>
                <a href="https://www.instagram.com/airbladepro/" target="_blank"><i class="instagram icon"></i><a>
                <a href="https://www.youtube.com/channel/UClkMTSGznMyeDu19d1k2GyQ" target="_blank"><i class="youtube square icon"></i></a>
            </p>
        </div>
    <!-- </div> -->



    
