

<div class="">
        <div id="footer" class="">
         
                <a href="https://www.facebook.com/airbladepro/" target="_blank"><i class="facebook icon"></i></a>
                <a href="https://www.instagram.com/airbladepro/" target="_blank"><i class="instagram icon"></i><a>
                <a href="https://www.youtube.com/channel/UClkMTSGznMyeDu19d1k2GyQ" target="_blank"><i class="youtube square icon"></i></a>
        
        </div>
    </div>


    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.min.js"></script>
<script src="/JS/index.js"></script>





    
