<title>Air Blade</title>
</head>
<body>

        <div id="navbar" class="ui fixed inverted menu">
                
                    
                <div class="header item"><a href="/"><img id="logo" src="http://www.airbladepro.com/wp-content/uploads/2016/04/Logo.png" alt=""></a></div>
                    <div id="nav-container" class="ui container">
                        <div id="right-nav" class="ui right menu">
                        <a href="/services" class="item" href="/"><i class="industry icon"></i>Our Services</a>
                        <a href="/inspection" class="item" href="/"><i class="camera icon"></i>The Inspection</a>
                        <a href="/about" class="item" href="/"><i class="address card icon"></i>About Us</a>
                        <a href="/contact" class="item" href="/"><i class="paper plane icon"></i>Contact Us</a>
                    </div>
                    <div id="icon-nav" class="ui labeled icon menu">
                            <a class="item" href="/services">
                              <i class="industry icon"></i>
                              Our Services
                            </a>
                            <a class="item" href="/inspection">
                              <i class="camera icon"></i>
                              The Inspection
                            </a>
                            <a class="item" href="about">
                              <i class="address card icon"></i>
                              About Us
                            </a>
                            <a class="item" href="/contact">
                                <i class="paper plane icon"></i>
                                Contact Us
                            </a>
                    </div>
                </div>
            </div>  
    