<title>Air Blade</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="Logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ham-button"><i class="bars icon"></i></span>
      <span class="close-button"><i class="times icon"></i></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/services"><i class="industry icon"></i>Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/inspection"><i class="camera icon"></i>The Inspection</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/about"><i class="handshake icon"></i>About Us</a>
           
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact"><i class="paper plane icon"></i>Contact Us</a>
        </li>
      </ul>
      
    </div>
  </nav>


<div class="hamburger-nav">
    
    <div id="ham-links"> 
        <ul>
            <li><a href="/services"><i class="industry icon"></i>our services</a></li>
            <li><a href="/inspection"><i class="camera icon"></i>the inspection</a></li>
            <li><a href="/about"><i class="handshake icon"></i>about us</a></li>
            <li><a href="/contact"><i class="paper plane icon"></i> contact us</a></li>
        </ul>

    </div>

</div>

