<% include ./partials/header %>

<link rel="stylesheet" href="/stylesheets/services.css">
<link rel="stylesheet" href="/stylesheets/about.css">

<% include ./partials/navbar %>

<div id="first" class="content-box content-box1">
        <div class="subcontent show-on-scroll">
            <h1>Our Background</h1>
            <div class="ui horizontal divider"><i class="rocket icon"></i></div>
            <p>Air Blade values the knowledge and experience of the technicians in order to obtain the most accurate results, and for that all our teams are composed by certified and experienced rope access Wind Turbine Blade inspectors. When we preform an inspection we know what we are looking for. Our engineers have more than 15 years of experience inspecting and repairing wind turbine blades. We have been involved in all different stages of a blade’s life span, inspecting and reporting:Quality Production; Transport Damages; After Assembly; End of Warranty and General Maintenance</p>
        </div>        
    </div>

    <div id="second" class="content-box content-box2">
        <div class="subcontent show-on-scroll">
            <h1>How?</h1>
            <p>An aerial inspection involves a 2 man operation, a Pilot and an Inspector. When the aerial inspection is concluded all our data is sent to one of our engineers. After carefully analysing the data, the Final Report is then created and delivered to the client </p>
            
        </div>
    </div>

    <div id="third" class="content-box content-box3">
        <div class="subcontent show-on-scroll">
            <h1>The Pilot</h1>
                <p> Trained and certified by the CAA (Civil Aviation Authority) as capable of assessing, planning and carrying out the flights on each job. In coordination with the inspector his job is to position the drone with precision in the areas of interest for the inspector </p>
                                    
        </div>
    </div>

    <div id="fourth" class="content-box content-box4">
            <div class="subcontent show-on-scroll">
                    <h1>The Inspector</h1>
                    <p> He is having a live feed on a monitor of the camera image and he is in command of the operation, registering everything that finds appropriate. At the end of each day a report is made including damage description and position of damage in relation to the blade, and is sent to one of our team of engineers for analysis </p>
                   
            </div>
    </div>


<% include ./partials/footer %>


<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.min.js"></script>
<script src="/JS/services.js" type="text/javascript"></script>



</body>

</html>