<% include ./partials/header.ejs %>

<link rel="stylesheet" href="/stylesheets/landing.css">

<% include ./partials/navbar.ejs %>

<div id="main-content" class="ui container"> 
        <div class="ui grid">
        <div class="seven wide column">
              <div id="main-description" class="ui left floated segment">
                  <h1>Air Blade</h1>
                  <div class="ui clearing divider"></div>
                  <p id="moto">Precision and Knowledge</p>
                    <div class="ui clearing divider"></div>
                    <p id="desc">Providing solutions for all stages of a blade’s life span with over 15 years experience </p>
                </div>
        </div>

        <div class="nine wide column">
            <div id="main-video" class="ui right floated segment">
                
                <div id="play-button">
                    <button><i class="play circle icon">
                    </i></button>

                    
                </div>

             

                <div id="video">
                        <iframe style="border-radius: 25px" width="500" height="300" src="https://www.youtube.com/embed/ukTl-sYP-tc?autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 </div>
                
            </div>


        </div>

    </div>

    </div>

   


<% include ./partials/footer.ejs %>

<script src="/JS/index.js"></script>

</body>
</html>