<% include ./partials/header.ejs %>

<link rel="stylesheet" href="/stylesheets/landing.css">
<link rel="stylesheet" href="/stylesheets/mediaScreens.css">

<% include ./partials/navbar.ejs %>

<div id="main-content" class="container"> 
        <div class="grid">
        <div class="content-grid">
              <div id="main-description" class="">
                  <h1>Air Blade</h1>
                  <div class=""></div>
                  <p id="moto">Precision and Knowledge</p>
                    <div class=""></div>
                    <p id="desc">Providing solutions for all stages of a blade’s life span with over 15 years experience </p>
                </div>
        </div>

        <div id="" class="video-grid"> 
                <div id="play-button">
                    <button id="play-button-button" ><i class="play circle icon">
                    </i></button>

                    
                </div>

                <div id="video">
                        <iframe style="border-radius: 25px" src="https://www.youtube.com/embed/ukTl-sYP-tc?autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 </div>
     
        </div>

    </div>

    </div>

   


<% include ./partials/footer.ejs %>
<script src="/JS/landing.js"></script>
</body>
</html>