<% include ./partials/header %>

<link href="/stylesheets/services.css" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/inspection.css">

<% include ./partials/navbar %>

<div id="first" class="content-box content-box1">
        <div class="subcontent show-on-scroll">
            <h1>The Inspection</h1>
            <div class="ui horizontal divider"><i class="rocket icon"></i></div>
            <p>Air Blade is committed to retrieve the best data possible from each flight and for that we invested in the best technology. A High-end SUAV with a top of the range camera help us to obtain sharp images from the blade or any other surface of the turbine
            <br>
            An aerial inspection involves a 2 man operation, a Pilot and an Inspector. When the aerial inspection is concluded all our data is sent to one of our engineers. After carefully analysing the data, the Final Report is then created and delivered to the client </p>
             
        </div>        
    </div>

    <div id="second" class="content-box content-box2">
        <div class="subcontent show-on-scroll">
            <h1>How?</h1>
            <p>The UAV takes off and in less than 10 seconds we start to inspect the blade. A thorough inspection is done from every angle and a first analysis is done through a live stream of the camera image to a monitor on the ground </p>
        </div>
    </div>

    <div id="third" class="content-box content-box3">
        <div class="subcontent show-on-scroll">
            <h1>Results</h1>
            <p>The data is gathered and a first revision is done on site by the technicians in order to identify any major/priority damages that should be addressed immediately. After all data is filtered, is sent to our engineers that are going to elaborate a report with detailed damage description and relevance. Further comments will be added on the suggested approach in terms of repair </p>
          
                                  
        </div>
    </div>

    <div id="fourth" class="content-box content-box4">
            <div class="subcontent show-on-scroll">
                
            </div>
        </div>

    


<% include ./partials/footer %>

<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.min.js"></script>
<script src="/JS/services.js" type="text/javascript"></script>


</body>
</html>