<% include ./partials/header %>

<link rel="stylesheet" href="/stylesheets/services.css">
<link rel="stylesheet" href="/stylesheets/mediaScreens.css">

<% include ./partials/navbar %>



    
        <div id="first" class="content-box content-box1">
            <div class="subcontent show-on-scroll">
                <h1>Our Services</h1>
                <div class="ui horizontal divider"><i class="rocket icon"></i></div>
                <p>Air Blade provides a professional and detailed inspection of Wind Turbine Blades by SUAV. High-resolution photos and videos are collected and a damage report is provided by our team of certified Wind Turbine Blade technicians, which includes engineers with more than 15 years of experience assessing and repairing wind turbine blades</p>
            </div>        
        </div>

        <div id="second" class="content-box content-box2">
            <div class="subcontent show-on-scroll">
                <h1>What Can Be Achieved</h1>
                <p>Aerial Wind Turbine Blade Inspection can be done as complementary or alternative option for a safe, time efficient and cost-saving way of inspecting Wind Turbines onshore and offshore. 
                <br>The whole outside of a turbine can be inspected using SUAV, including:</p>
                <div class="ui horizontal segments">
                    <div class="ui segment">
                        <img src="/Hatch.jpg" alt="">
                        <div class="ui horizontal divider">Hatch</div> 
                    </div>
                    <div class="ui segment">
                        <img src="/Hub.jpg" alt="">
                        <div class="ui horizontal divider">Hatch</div> 
                    </div>
                    <div id="third-horiz-segm" class="ui segment">
                        <img src="/Tower.jpg" alt="">
                        <div class="ui horizontal divider">Hatch</div> 
                    </div>
                                
                </div>
            </div>
        </div>

        <div id="third" class="content-box content-box3">
            <div class="subcontent show-on-scroll">
                <h1>Inspection Results</h1>
                <div class="image-segm-desc">
                    <p>Cracks </p>
                </div>
                <div class="image-segm-img">
                    <img src="/DrainHole.jpg" alt="">
                </div>
            </div>
        </div>

        <div id="fourth" class="content-box content-box4">
            <div class="subcontent show-on-scroll">
                <!-- <h1>Inspection Results</h1> -->
                <div class="image-segm-desc">
                    <p>Erosion </p>
                </div>
                <div class="image-segm-img">
                    <img src="/Erosion.jpg" alt="">
                </div>
            </div>
        </div>

    
   


<% include ./partials/footer %>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.min.js"></script>

<script src="/JS/services.js" type="text/javascript"></script>

</body>
</html>