div.content-box1 {
    background-image: url("/Slider1-1.jpg");
  }

  div.content-box3 {
    background-image: url("/ThePilot.jpg");
  }

div.content-box2 {
    background-image: url("/Slider3.jpg");
  }

  div.content-box4 {
    background-image: url("/TheInspector.jpg");
  }
