div.content-box1 {
    background-image: url("/Slider1-1.jpg");
    background-position: left;
  }

  div.content-box2 {
    background-image: url("/ThePilot.jpg");
  }

  div.content-box3 {
    background-image: url("/TheInspector.jpg");
  }


 h1, p {
   background-color: rgba(0, 0, 0, 0.7);
   padding: 10px;
   border-radius: 10px;
 }


