html, body {
 
    background-image: url("/SliderWithFade.jpg");
}

form div {
    text-align: left;
    
}

.form-control:focus {
    border-color: #FEFF02;
    box-shadow: 0 0 0 0.2rem rgba(179, 179, 77, 0.705)
}

label {
    font-size: 17px;
}

.form-control {
    font-size: 14px;
}

.ui.button {
    font-size: 16px;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 800;
}


@media screen and (max-width: 800px) {
    html, body {
        background-image: url("/SliderWithFade800.jpg");
        background-position: left;
    }
}