html, body {
 
    background-image: url("/SliderWithFade.jpg");
}

form div {
    text-align: left;
    
}

.form-control:focus {
    border-color: #FEFF02;
    color: #FEFF02;
    box-shadow: 0 0 0 0.2rem rgba(179, 179, 77, 0.705)
}

label {
    font-size: 23px;
}

.form-control {
    font-size: 21px;
}

.ui.button {
    font-size: 23px;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 800;
}
