/* MEDIA SCREENS */
/* for services horizontal image stack */
@media screen and (max-width: 1336px) {
    .image-segm-img img {
        width: 100%;
    }
}

@media screen and (max-width: 1112px) {
    .ui.horizontal.segments img {
        height: 140px;
        
    }

    .ui.grid > [class*="seven wide"].column {
        width: 52% !important;
    }

    .ui.grid > [class*="nine wide"].column {
        width: 48% !important;
    }

    #video iframe {
        height: 230px;
        width: 360px;
    }
}

@media screen and (max-width: 1024px) {
/* landing screen only */
    #main-description h1 {
      font-size: 43px;
    }
    #moto {
        font-size: 30px;
    }
    #desc {
        font-size: 18px;
    }

    #video {
        float: left;
        margin-top: 10%;
        margin-left: 5%;
    }

    #video iframe {
        height: 180px;
        width: 320px;
    }

    #play-button button {
        margin-top: 10%;
    }

    /* footer and nav */
    #footer a {
        font-size: 25px;
    }

    #footer {
        padding-left: 30px;
    }

    #right-nav {
        visibility: collapse;
    }
    
    .hamburger {
        display: block;
    }

    #icon-nav a:hover {
        font-size: 13px;
    }

    #logo {
        height: 45px;
    }

    /* images on service 3 x  */
    .ui.horizontal.segments img {
        height: 140px;
        
    }
    
    .image-segm-desc p {
        font-size: 25px;
    }

    .image-segm-img img {
      height: 330px;
      width: auto;
    }

    /* services and other pages */
    .content-box p {
        font-size: 22px;
    }

    .content-box .subcontent h1 {
        font-size: 40px;
    }

    

  }

/* nexus 7 tablet */
  @media screen and (max-width: 960px) {

    #main-content {
        margin-top: 15vh;
    }

    .ui.grid > [class*="seven wide"].column {
        width: 75% !important;
    }
    .ui.grid > [class*="nine wide"].column {
        width: 75% !important;
    }

    #video {
        margin-top: 0;
    }

    #video iframe {
        height: 140px;
        width: 260px;
    }

    #play-button button {
        margin-top: 0;
    }

    #contact-subcontent {
        width: 60%;
        left: 20%;
        top: 18%;
    }
    .ui.horizontal.segments img {
        height: 130px;
        
    }

    .image-segm-img img {
        height: 300px;
      }

    #textbox textarea {
        height: 100px;
    }

    .ui.horizontal.divider i {
        font-size: 25px;
    }

  }

@media screen and (max-width: 812px) {
    #main-description h1 {
      font-size: 33px;
    }
    #moto {
        font-size: 25px;
    }
    #desc {
        font-size: 14px;
    }
    #icon-nav {
        margin-right: 70px;
        background-color: rgba(0, 0, 0, 0.7);
        
    }
    
    #icon-nav a {
        font-size: 11px;
    }
    #icon-nav a:hover {
        font-size: 11px;
    }
    #logo {
        height: 40px;
    }
    .ui.horizontal.segments img {
        height: 90px;
        
    }
    .image-segm-img img {
        height: 240px;
        width: auto;
      }
    #third .image-segm-img {
        float: none;
        margin: 0;
    }
    #fourth .image-segm-img {
        float: none;
        margin-left: 12%;
    }
    

    #play-button button{
        margin-top: 1vh;
    }

    #video {
        float: left;
        margin-top: 1%;
        margin-left: 5%;
        
    }

   /* services and other content */
   .content-box .subcontent {
    left: 0;
    top: 15vh;
    margin: 0 auto;
    position: relative;
    
}


    #third .image-segm-desc {
    float: none;
    margin: 0;
    margin-left: 33%
}


    #fourth .image-segm-desc {
    float: none;
    margin: 0;
    margin-left: 33%

}

   

  }

@media screen and (max-width: 414px) {
    html, body {
        background-position: right;
    }
    
    #main-description h1 {
      font-size: 25px;
    }

    #main-content {
        margin-top: 60px;
    }
    
    #moto {
        font-size: 18px;
    }
    #desc {
        font-size: 15px;
    }
    
    #footer a {
        font-size: 22px;
    }
   
    #icon-nav a {
        font-size: 10px;
    }
    #logo {
        height: 30px;
    }

    #video {
       
        margin-right: 5%;
        margin-bottom: 10%;
        width: 100%;
        float: left;
          
      }
    #video iframe {
        height: 150px;
        width: 250px;
    }
   
    #icon-nav a:hover {
        font-size: 10px;
    }
    #footer {
        padding-left: 40px;
        position: fixed;
        margin-top: 20px;
    }


    #navbar {
        background-color: rgba(0, 0, 0, 0.5);
        
    }

    .ui.horizontal.segments img {
        height: 70px;
        
    }
    .image-segm-img img {
        height: 180px;
        width: auto;
      }


    #third .image-segm-desc {
        margin-left: 37%;

    }
    #fourth .image-segm-desc {
        margin-left: 37%;
    }
    #third .image-segm-img {
        margin: 0;
        margin-top: 30px;

    }
    #fourth .image-segm-img {
       
        margin: 0;
        margin-top: 30px;
    }

    .content-box .subcontent p {
        font-size: 15px
    }

    .content-box .subcontent h1 {
        font-size: 26px;
    }

    #textbox textarea {
        width: 150px;
        height: 100px;
      }
    }
    #third-horiz-segm {
        display: none;
    }

 
   
    .ui.horizontal.divider i {
        font-size: 20px;
    }   
    .content-box .subcontent {
        width: 75%;

    }   
    .ui.form .field > label {
        font-size: 13px;
    }

    #textbox textarea {
        width: 150px;
        height: 200px;
    }
    #main-content {
        margin-top: 120px;
    }

    #contact-subcontent {
        left: 0;
        margin-top: 20%;
    }
   
    

  }


  /* iphone 6 */

  @media screen and (max-width: 375px) {

    .image-segm-img img {
        height: 160px;
        width: auto;
      }

    .content-box .subcontent h1 {
        font-size: 26px;
    }
    .content-box .subcontent p {
        font-size: 14px;
    }

    .image-segm-img {
        margin: 0;
        margin-top: 30px;
    }

    .image-segm-img img {
        height: 160px;
        width: auto;
    }

    .image-segm-desc {
        margin: 0;
        margin-left: 33%
    }

    .ui.horizontal.segments img {
        height: 65px;
    }

    #textbox textarea {
        height: 100px;
      }

   

  }

  /* iphone 5 */
  @media screen and (max-width: 320px) {

    html, body {
        overflow: auto;
    }

    .content-box .subcontent h1 {
        font-size: 20px;
    }
    .content-box .subcontent p {
        font-size: 13px;
    }

    .image-segm-img img {
        height: 135px;
        width: auto;
      }

    #video iframe {
        height: 120px;
        width: 220px;
    }
    .ui.horizontal.segments img {
        height: 52px;
    }

    }

    @media screen and (max-height: 570px) {
        html, body {
            overflow: auto;
        }
    }