.bg-light {
    background-color: rgba(0, 0, 0, 0.8) !important;
  
}

.content-box {
    position: relative;
    width: 100%;
    min-height: 100%;
    
}

.subcontent {
    padding-top: 20vh;
    color: #FEFF02;
}

.subcontent-grid {
    display: grid;
    grid-template-columns: 40% auto;
    padding-top: 25px;
    grid-gap: 3%;
}



h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 42px;
    text-align: center;
    
}

h3 {
    font-size: 21px;
}

p {
    font-size: 20px;
    padding-top: 10px;
}

.thumbnail img {
    width: 100%;
}

.segm-img img {
    width: 100%;
}

#first-desc, #sec-desc {
    font-size: 24px;
}

h2 {
    font-size: 32px;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.scroll-icon 
/* .scroll-two  */
{
    text-align: center;
    color: yellow;
    font-size: 30px;
    position: absolute;
    width: 100%;
    
}   

.scroll-icon {
    animation: scrollOne 2s linear infinite;
}

/* .scroll-two {
    animation: scrollTwo 2s linear infinite;
} */

.ui.horizontal.divider i {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.5);
}



div.content-box2, div.content-box4 {
    background-image: url("/Slider1.jpg");
   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

div.content-box1 {
    min-height: 93.5%;
}

  div.content-box1, div.content-box3 {
    background-image: url("/UAV.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  @media screen and (max-width: 800px) {
      div.content-box2, div.content-box4 {
          background-image: url("/Slider1800.jpg");
      }

      div.content-box1, div.content-box3 {
          background-image: url("/UAV800.jpg");
      }
  }

/* 
  @keyframes scrollOne {
      0% {
          bottom: 13vh;
      }

      16% {
          bottom: 12vh;
      }

      33% {
          bottom: 11vh;
      }

      50% {
          bottom: 10vh;
      }

      67% {
          bottom: 11vh;
      }

      83% {
          bottom: 12vh;
      }

      100% {
          bottom: 13vh;
      }

  } */

  @keyframes scrollOne {
    0% {
        bottom: 5vh;
    }

    16% {
        bottom: 4vh;
    }

    33% {
        bottom: 3vh;
    }

    50% {
        bottom: 2vh;
    }

    67% {
        bottom: 3vh;
    }

    83% {
        bottom: 4vh;
    }

    100% {
        bottom: 5vh;
    }

}
    
   
